.Image {
  width: revert;
  max-height: calc(100vmin - 2 * var(--mantine-spacing-md)); /* portrait */
  max-width: calc(100vmin - 2 * var(--mantine-spacing-md)); /* landscape */

  /* Same as input */
  border: calc(.0625rem * var(--mantine-scale)) solid var(--_input-bd);
}
